.dashboard {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
}

label {
  margin: 2%;
}

.analytics-title {
  border-bottom: 1px solid white;
  margin-top: 5%;
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 1% 5% 3% 5%;
  margin: 1%;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
}